# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Data/ACSST5Y2019.S2506-2021-07-28T192039.xlsx
Data/ASPUS.xls
Data/cities_crosswalk.csv
Data/City_time_series.csv
Data/County_time_series.csv
Data/CountyCrossWalk_Zillow.csv
Data/DataDictionary.csv
Data/histtab19.xlsx
Data/Metro_time_series.csv
Data/mfu_squarefeet_cust.xls
Data/Neighborhood_time_series.csv
Data/newressales.xls
Data/quarterly_sales_cust.xls
Data/soldmetro_cust.xls
Data/soldsquarefeet_cust.xls
Data/State_time_series.csv
Data/statistic_id184902_homeownership-rate-in-the-us-1990-2020.xlsx
Data/statistic_id184904_homeowner-vacancy-rates-in-the-us-1990-2020.xlsx
Data/statistic_id199360_us-housing_-case-shiller-national-home-price-index-2000-2020.xlsx
Data/statistic_id226144_us-existing-home-sales-2005-2022.xlsx
Data/statistic_id240991_us-house-prices_-average-sales-price-of-new-homes-sold-1965-2021.xlsx
Data/statistic_id375865_volume-of-homeowner-equity-in-the-us-1960-2020.xlsx
Data/statistic_id398370_us-housing_-case-shiller-national-home-price-index-2017-2021.xlsx
Data/Zip_time_series.csv
kaggle.json
Data/City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
Data/County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
Data/Metro_invt_for_sale_uc_sfrcondo_month.csv
Data/Metro_invt_For_Sale_uc_sfrcondo_sm_month.csv
Data/Metro_median_days_oz_pending_uc_sfrcondo_month.csv
Data/Metro_Median_List_Price_uc_sfrcondo_month.csv
Data/Metro_median_sale_price_uc_sfrcondo_month.csv
Data/Metro_MedianListPrice_uc_sfrcondo_sm_month.csv
Data/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
Data/Neighborhood_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
Data/State_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
Data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
Data/ASPUS_Average_Sales_Price_US.xls
Data/Census_ACSST5Y2019.S2506-2021-07-28T192039.xlsx
Data/histtab19_homeownership_by_age.xlsx
Data/redfin_2021-08-01-11-51-43.csv
Data/redfin_2021-08-01-12-21-52_ForSale_and_Sold.csv
Data/Statistica Dataset/statistic_id184902_homeownership-rate-in-the-us-1990-2020.xlsx
Data/Statistica Dataset/statistic_id184904_homeowner-vacancy-rates-in-the-us-1990-2020.xlsx
Data/Statistica Dataset/statistic_id199360_us-housing_-case-shiller-national-home-price-index-2000-2020.xlsx
Data/Statistica Dataset/statistic_id226144_us-existing-home-sales-2005-2022.xlsx
Data/Statistica Dataset/statistic_id240991_us-house-prices_-average-sales-price-of-new-homes-sold-1965-2021.xlsx
Data/Statistica Dataset/statistic_id375865_volume-of-homeowner-equity-in-the-us-1960-2020.xlsx
Data/Statistica Dataset/statistic_id398370_us-housing_-case-shiller-national-home-price-index-2017-2021.xlsx
Data/Zillow Dataset/City_time_series.csv
Data/Zillow Dataset/City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
Data/Zillow Dataset/County_time_series.csv
Data/Zillow Dataset/County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
Data/Zillow Dataset/Metro_invt_for_sale_uc_sfrcondo_month.csv
Data/Zillow Dataset/Metro_invt_For_Sale_uc_sfrcondo_sm_month.csv
Data/Zillow Dataset/Metro_median_days_oz_pending_uc_sfrcondo_month.csv
Data/Zillow Dataset/Metro_Median_List_Price_uc_sfrcondo_month.csv
Data/Zillow Dataset/Metro_median_sale_price_uc_sfrcondo_month.csv
Data/Zillow Dataset/Metro_MedianListPrice_uc_sfrcondo_sm_month.csv
Data/Zillow Dataset/Metro_time_series.csv
Data/Zillow Dataset/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
Data/Zillow Dataset/Neighborhood_time_series.csv
Data/Zillow Dataset/Neighborhood_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
Data/Zillow Dataset/State_time_series.csv
Data/Zillow Dataset/State_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
Data/Zillow Dataset/Zip_time_series.csv
Data/Zillow Dataset/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
